body {
    font-family: Arial, sans-serif;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20220903/pngtree-blackjack-with-gambling-chips-blackjack-ace-face-card-photo-image_1294327.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: black;
}

h2 {
    color: black;
}

p {
    color: black;
}

.player, .dealer, .player-hand {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 40px;
    height: 60px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: white;
}

.card-heart {
    color: red;
}

.card-diamond {
    color: red;
}

.card-spade {
    color: black;
}

.card-club {
    color: black;
}
